// @use './prism';
@use './vars';

:global(body) {
    // background-color: $background-color;
    color: $ink-color;
    font-family: $sans;
    // font-family: Hack, monospace;
    margin: 0;
}

::selection {
    background: rgba($blue-mid, $alpha: 0.3);
}

.accent {
    color: $accent-color;
}

