@use './prism';
@use './vars';

:global(body) {
    background-color: $background-color;
    color: $ink-color;
    font-family: Hack, monospace;
    margin: 0;
}

::selection {
    background: #fbd4df50;
}

.accent {
    color: $accent-color;
}

