---
title: test2 baby
date: 13 Mar 2023
tags:
  - python
  - image processing
---


<script>
 let text = "<strong> hello </strong>"
</script>

# h1 this test2 svx

what's up here's a link [to somethin](https://google.com)

## h2 second heading

cool `float{:c}` there. this--math -- --- won't work $\sin(x)$ though.

and we have `variable{:.variable}` `function{:.function}` `keyword{:.keyword}` `param{:.param}` `string{:.string}` `number{:.number}` `comment{:.comment}` `type{:.type}`


### h3 third heading

cool

#### h4 fourth heading

words

here is less than  &amp;lt; `<` what about `f(x) => { x^2 } {:js}`

lets get more `monospace` in here! complicated with curly braces in js inline `f(x) => x^2{:js}`   `{apple}`

```python
thing = 1
CONST = 2
def howdy(num_friends: int):
	print('howdy to my ' + str(num_friends) + ' friends!')

howdy(0)
```

$$
	f(x) = x^2
$$

$$
  \int_0^1 x^2 dx = \frac{1}{3}
$$

can we test some javascript please?

lmao will html work?

```svelte
<a href={link}>
	<div id="link-box">
		<slot />
	</div>
</a>
```

```js
// some simple javascript
function howdy(num_friends) {
  console.log('howdy to my ' + num_friends + ' friends!');
}
```



- list 1
  - sublist 1
- list 2

words!

> a quote box

and something else


