---
title: test4
date: 13 Mar 2023
tags:
  - python
---

# test4.svx




`f(x) = &#123; x^2 &#125;`

lang `f(x) = { x^2 }{:js}`

no lang `f(x) = { x^2 }`

token `some_function{:.support.function}`

a tag `<script>{:html}`

here's some  inline code `print("Hello World"){:python}` an an array `["a", "b", "c"]{:js}` and token `some_function{:.support.function}` wow `["a", "b", "c"] ["a", "b", "c"] ["a", "b", "c"] ["a", "b", "c"]` `["a", "b", "c"] ["a", "b", "c"] ["a", "b", "c"] ["a", "b", "c"]{:js}`

and a tricky one:  &amp;lt; `<` what  and just `&lt;`


```python {2} showLineNumbers title="test3.py"
print("Daisy daisy")
print("give me your answer do")

<a> {code}

&#123;

```