---
title: test3
date: 13 Mar 2023
tags:
  - python
---

<script>
 import Callout from '$lib/Callout.svelte';
</script>

# test3.svx

```python {2-5} showLineNumbers title="test3.py"
print("Hello World")
print("Daisy daisy")
print("Give me your answer do")

window = 10
weights = np.repeat(1.0, window)/window
smas = np.convolve(values, weights, 'valid')
```

<Callout title="Note" icon="$lib/icons/fire.svg">

hello world

```python showLineNumbers /weights/
print("Hello World")
print("Daisy daisy")
print("Give me your answer do")

window = 10
weights = np.repeat(1.0, window)/window
smas = np.convolve(values, weights, 'valid')
```

</Callout>



asdf
