---
title: test2 baby
date: 13 Mar 2023
tags:
  - python
  - image processing
---

# h1 this test2 svx

what's up here's a link [to somethin](https://google.com)

## h2 second heading

cool `float{:c}` there. this--math -- --- won't work $\sin(x)$ though.

### h3 third heading

cool

#### h4 fourth heading

words

```python
def howdy(num_friends: int):
	print('howdy to my ' + str(num_friends) + ' friends!')

howdy(0)
```

$$
	f(x) = x^2
$$

$$
  \int_0^1 x^2 dx = \frac{1}{3}
$$

can we test some javascript please?

```js
// some simple javascript
function howdy(num_friends) {
  console.log('howdy to my ' + num_friends + ' friends!');
}
```



- list 1
  - sublist 1
- list 2

words!

> a quote box

and something else


