---
title: test2 baby
date: 13 Mar 2023
tags:
  - python
  - image processing
---

# this test2 svx

what's up here's a link [to somethin](https://google.com)

## second heading

cool `float` there. this math won't work $\sin(x)$ though.

```python
def howdy(num_friends: int):
	print('howdy to my ' + str() + ' friends!')

howdy(0)
```



$$
	f(x) = x^2
$$

- list 1
  - sublist 1
- list 2

words!


